{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Page level plugins -->
    <script src="/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assets/js/datatable-medics.js"></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3 p-2">
        <h1 class="h1 text-gray-800">Teste</h1>
        <a href="/admin/test/new.php" class="btn btn-success btn-icon-split rounded-pill">
            <span class="icon text-white-50 ">
                <i class="fas fa-plus mt-2"></i>
            </span>
            <span class="h5 text mt-1 mx-3">Adaugă</span>
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tabel cu testele înregistrate</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Denumire</th>
                            <th>Descriere</th>
                            <th>Acțiuni</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Denumire</th>
                            <th>Descriere</th>
                            <th>Acțiuni</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for test in tests %}
                        <tr>
                            <td>{{ test.denumire }}</td>
                            <td>{{ test.descriere | raw}}</td>
                            <td>
                                <div class="d-flex justify-content-start">
                                    <a href="/admin/test/intrebare?id_test={{ test.id }}" class="btn btn-primary btn-icon-split btn-sm rounded-pill mr-2">
                                        <span class="icon text-white-50 pt-2">
                                            <i class="fas fa-question"></i>
                                        </span>
                                        <span class="text">Intrebări</span>
                                    </a>
                                    <a href="/admin/test/edit.php?id={{ test.id }}" class="btn btn-info btn-circle btn-sm mr-2">
                                            <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="/admin/test/delete.php?id={{ test.id }}" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#deletemodal-{{ test.id }}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                </div>

                                <div class="modal fade" id="deletemodal-{{ test.id }}" tabindex="-1" aria-labelledby="modaltitle" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="modaltitle">Ștergere test</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <p>Ești sigur că vrei să ștergi acest test?</p>                                    
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulare</button>
                                        <a href="/admin/test/delete.php?id={{ test.id }}" class="btn btn-danger">Ștergere</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>       

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}